[web-server]
Mode = "debug"
EndPort = 52001
ReadTimeout = 10
WriteTimeout = 10
IdleTimeout = 10
PIDFile = "./micro-mall-api.pid"

[web-logger]
RootPath = "./logs"
Level = "info"

[web-jwt]
Secret = "&WJof0jaY4ByTHR2"
TokenExpireSecond = 2592000

[micro-mall-verify_code]
ExpireMinute = 100
SendPeriodLimitCount = 10
SendPeriodLimitExpireSecond = 3600
SendIntervalExpireSecond = 60

[micro-mall-mysql]
Host = "127.0.0.1:3306"
UserName = "root"
Password = "oyuioyuioy"
DBName = "micro_mall"
Charset = "utf8mb4"
PoolNum =  10
MaxIdleConns = 5
ConnMaxLifeSecond = 3600
MultiStatements = true
ParseTime = true

[micro-mall-redis]
Host = "127.0.0.1:6379"
Password = "oyuioyiuoyui"
DB = 1
PoolNum = 10

[micro-mall-g2cache]
CacheDebug = false
CacheMonitor = false
OutCachePubSub = false
FreeCacheSize = 52428800
PubSubRedisChannel = "micro-mall-pubsub-channel"
RedisConfDSN = "127.0.0.1:6379"
RedisConfDB = 1
RedisConfPwd = "oyuioyiuoyui"
RedisConfMaxConn = 30

[email-config]
User = "xxxx@qq.com"
Password = "xxxx"
Host = "smtp.qq.com"
Port = "465"